html,body{
    height: 100%;
    width: 100%;
}
#main-container{
    margin: 30px
}
.nav-logo{
    width: 150px !important; 
    background-color: black !important; 
    color: white !important; 
    font-weight: bold; 
    text-align: center;
}
.page-title{
    font-weight: bold;
    font-size: 24px;
}
.page-title-hyperlink{
    color: #555555 !important;
}
a.page-title-hyperlink:hover{
    color: #555555 !important;
}
.table-header{
    margin: 10px 15px 10px 15px;
    overflow:hidden
}
.table-header-title{
    float:left;
    font-size:20px;
}
.table-header-button{
    float:right;
}
.table-main{

}
.form-slip{
    margin: 15px 0;
    padding: 15px;
    border:1px solid black;
    overflow:hidden
}
.form-slip-header{
    margin-bottom: 20px;
}
.form-slip-title{
    font-size:18px;
    margin-bottom: 10px;
}
.input-price{
    position: relative;
}
.input-price .price-prefix{
    position:absolute;
    left:2px;
    top:7.5px;
    width:30px;
    text-align:center;
    font-weight:bold
}
.input-price input{
    padding-left:35px
}
.btn-icon-previous, .btn-icon-previous:active{
    background: url("../assets/images/previous.png") left center no-repeat;
    background-size: 15px 15px;
    padding-left: 20px;
}