html,body{
    height: 100%;
    width: 100%;
}
#main-container{
    margin: 30px
}
footer{
    position: fixed;
    bottom: 0;
    padding: 0 30px;
    width: 100%;
}
.page-title{
    font-weight: bold;
    font-size: 24px;
}
.table-header{
    margin: 10px 15px 10px 15px;
    overflow:hidden
}
.table-header-title{
    float:left;
    font-size:20px;
}
.table-header-button{
    float:right;
}
.table-main{

}
.form-slip{
    margin: 15px 0;
    padding: 15px;
    border:1px solid black;
    overflow:hidden
}
.form-slip-header{
    margin-bottom: 20px;
}
.form-slip-title{
    font-size:18px;
    margin-bottom: 10px;
}
.input-price{
    position: relative;
}
.input-price .price-prefix{
    position:absolute;
    left:2px;
    top:7.5px;
    width:30px;
    text-align:center;
    font-weight:bold
}
.input-price input{
    padding-left:35px
}